<div class="success-container">
  <h1>Importação Concluída com Sucesso!</h1>
  <p>Seu arquivo foi processado com êxito. Você pode voltar à página inicial ou realizar outra ação.</p>
  <%= link_to 'Voltar', root_path, class: 'back-button' %>
</div>