.upload-container {
  max-width: 600px; /* Define a largura máxima do conteúdo */
  margin: 50px auto; /* Centraliza horizontalmente e adiciona margem superior */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o texto dentro do contêiner */
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.file-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}  